//- html
//-   head
//-     title= responseBody[0].title
    
//-   body
//-     h1= responseBody['cast']
//-     h1= responseBody[0].title
//-     img(src=responseBody[0].posterImageUrl, alt="Movie Poster")
//-     p.movie-description= responseBody[0].movieDescription
//-     p Release Date: #{responseBody[0].releaseDate}
    
//-     h2 Cast
//-     ul
//-       each castMember in responseBody[0].cast
//-         li
//-           p= `Title: ${castMember.title}`
//-           p= `Hero Name: ${castMember.heroName}`
//-           img(src=castMember.heroImageUrl, alt=`${castMember.heroName} Image`)

//-     h2 Reviews
//-     each review in responseBody[0].reveiws
//-       div.review
//-         p= `Title: ${review.title}`
//-         p= `Rating: ${review.rating}`
//-         p.review-text= `Review: ${review.reviewText}`
//-         p.created-on= `Created On: ${review.createdOn}`

//-     h2 Director
//-     p= `Director: ${responseBody[0].director}`
//-     img(src=responseBody[0].directorImageUrl, alt="Director Image")



//-     h1= responseBody['cast']
//-     h1= responseBody[1].title
//-     img(src=responseBody[1].posterImageUrl, alt="Movie Poster")
//-     p.movie-description= responseBody[1].movieDescription
//-     p Release Date: #{responseBody[1].releaseDate}
    
//-     h2 Cast
//-     ul
//-       each castMember in responseBody[1].cast
//-         li
//-           p= `Title: ${castMember.title}`
//-           p= `Hero Name: ${castMember.heroName}`
//-           img(src=castMember.heroImageUrl, alt=`${castMember.heroName} Image`)

//-     h2 Reviews
//-     each review in responseBody[1].reveiws
//-       div.review
//-         p= `Title: ${review.title}`
//-         p= `Rating: ${review.rating}`
//-         p.review-text= `Review: ${review.reviewText}`
//-         p.created-on= `Created On: ${review.createdOn}`

//-     h2 Director
//-     p= `Director: ${responseBody[1].director}`
//-     img(src=responseBody[1].directorImageUrl, alt="Director Image")
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Witch
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles.css")
    style.
      *{
        list-style-type: none;
      }
      .scrollable-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        margin-bottom: 20px;
      }
      ::-webkit-scrollbar {
        width: 1px;
        height:1px
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }

      ::-webkit-scrollbar-thumb {
        background: blue; 
      }

      ::-webkit-scrollbar-thumb:hover {
        background: white; 
      }
      .card {
        display: inline-block;
        margin-right: 10px;
        width: 250px;
        overflow: hidden;
      }
      .card-img-top {
        max-width: 100%;
        height: auto;
      }
      .backgroundformove{
        width:90%;
        height:90vh;
        border-radius:10px;
      }
      .moviedispsec{
        color:white;
        margin:0 5% 0 5%;
      }
      .title{
        margin: 0 0 0 -15%;
      }
      .moviediscr{
        margin: 0 0 0 -10%;
        text-align: justify;
        width:70%;
      }
      .titlediv{
        width: 100%;
        height:20vh;
        text-align: left;
      }
      .castdiv{
        color:black;
        margin: 0 0 0 -13%;
        text-align: justify;
      }
      .maintitlesec{
        width:90%;
        width:100%;
        padding: 0 0 0 20%;
        background:transparent;
        margin: -10% 0 0 0;
        backdrop-filter:blur(20px);

      }
      li{
        margin:1px solid black ;
      }
      .moviediscrhding{
        margin: 20px 0 10px -13%;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="/") Witch 
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/movies") Movies
            li.nav-item
              a.nav-link(href="/webseries") Web Series 
    
    //- ------------------------------------------   THIS IS MOVIES LIST ----------;-----------------------------------------
    center
      section.moviedispsec
        img.backgroundformove(src=responseBody.posterImageUrl)
        section.maintitlesec
          div.titlediv
            h2.title #{responseBody.title}
            h6.moviediscrhding Movie Discription
            p.moviediscr #{responseBody.webSeriesDescription}
          div.castdiv
            h5 Cast
            ul 
              li #{cast[0].heroName}
              li=cast[0].heroinname
              li=cast[0].director
          



    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")